*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslategrey;
}
.calc{
    display: grid;
    grid-template-columns: repeat(4,60px);

}
input{
    grid-column: span 4;
    border: none;
    height: 100px;
    text-align: 0 15px;
    font-size: 35px;
    font-family: monospace;
    outline: none;
}
button{
    width: 60px;
    height: 60px;
    background-color: lightgoldenrodyellow;
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    padding: 10px;
    font-family: monospace;


}